@define-color bg #dadada;
@define-color fg #536c52;
@define-color default #a1b7a0;
@define-color urgent #c62336;
@define-color warning #ff8033;
@define-color text #2f2f2f;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Fira Code Retina", monospace;
    font-size: 0.975em;
    font-weight: 700;
}

window#waybar {
    background-color: transparent;
}

#window {
    color: @text;
}

#right {
    background-color: @bg;
    border-bottom-left-radius: 0.7em;
    padding-left: 0.6em;
    padding-right: 0.6em;

}

#left {
    background-color: @bg;
    border-bottom-right-radius: 0.7em;
    padding-left: 0.6em;
    padding-right: 0.6em;

}

#image {
    padding-left: 0.3em;
    padding-right: 0.6em;
    transition-property: none;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces {
    background-color: @bg;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    transition-property: none;
}

#workspaces button {
    all: unset;
    min-width: 1em;
    margin: 0 0.35em;
    padding: 0;
    background: radial-gradient(circle 0.4em at center, @default 75%, @bg 100%);
    background-repeat: no-repeat;
    background-position: center;
}

#workspaces button.focused.empty {
    min-width: 1em;
    margin: 0 0.35em;
    padding: 0;
    background: radial-gradient(circle 0.4em at center, @fg 75%, @bg 100%);
    background-repeat: no-repeat;
    background-position: center;
}

#workspaces button.focused {
    background: radial-gradient(circle 0.4em at center, @fg 75%, @bg 100%);
    background-repeat: no-repeat;
    background-position: center;
}

#workspaces button.empty {
    all: unset;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: transparent;
    background-image: none;
    box-shadow: none;
    outline: none;
}

#pulseaudio,
#battery,
#bluetooth,
#custom-wib,
#custom-notifications,
#network {
    color: @text;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-size: 1.1em;
}

#tray {
    padding-top: 0.2em;
    padding-right: 0.6em;
    padding-left: 0.6em;
}

#clock {
    padding-top: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.3em;
}

#custom-containers {
    padding-top: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#custom-spotify {
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    color: @text;
    padding-top: 0.4em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: @bg;
}

#pulseaudio,
#bluetooth {
    font-size: 1.18em;
}

#battery.discharging.warning {
    color: @warning;
}

#battery.discharging.critical {
    color: @urgent;
}