* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: 500;
}

window#waybar {
    background-color: rgba(22, 22, 29, 1);
    /* #16161D */
}

/* https://github.com/Alexays/Waybar/issues/1763 */
button {
    border: none;
    border-radius: 0;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#tags button {
    padding: 6px;
    color: #54546D;
    border: #16161D;
    transition-property: none;
}

#tags button.focused {
    color: #16161D;
    background-color: #9CABCA;
}

#tags button.occupied {
    color: #9CABCA;
}

#tags button.urgent {
    color: #E46876;
}

#tags button.occupied.urgent {
    color: #E46876;
}

#tags button.focused.occupied {
    color: #16161D;
    background-color: #9CABCA;
}

#pulseaudio,
#battery,
#bluetooth,
#idle_inhibitor,
#tray,
#network,
#mode {
    color: #9CABCA;
    padding: 8px;
}

#window {
    color: #D9E0EE;
}

#clock,
#custom-spotify {
    color: #D9E0EE;
    padding: 8px;
}

#bluetooth {
    font-size: 14px;
}

#battery.discharging.warning {
    color: #FFA066;
}

#battery.discharging.critical {
    color: #E46876;
}