@define-color bg #1d1d16;
@define-color fg #b6afc9;
@define-color second #54546d;
@define-color urgent #e46876;
@define-color warning #ffa066;
@define-color text #d9e0ee;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 0.978em;
    font-weight: 700;
}

window#waybar {
    background-color: transparent;
}

#window {
    color: @text;
}

#right {
    background-color: @bg;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    padding-left: 0.6em;
    padding-right: 0.6em;

}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#tags button {
    padding-left: 0.6em;
    padding-right: 0.6em;
    color: @second;
    border-radius: 0;
    background-color: @bg;
    border: @bg;
    transition-property: none;
}

#tags button:last-child {
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    padding-right: 0.75em;
}

#tags button.focused {
    color: @bg;
    background-color: @fg;
}

#tags button.occupied {
    color: @fg;
}

#tags button.occupied.urgent {
    color: @bg;
    background-color: #E46876;
}

#tags button.focused.occupied {
    color: @bg;
}

#pulseaudio,
#battery,
#bluetooth,
#idle_inhibitor,
#network {
    color: @fg;
    padding: 0.6em;
    border-radius: 1.02em;
}

#mode.normal {
    color: transparent;
    background-color: transparent;
}

#mode.passthrough {
    color: @urgent;
    background-color: @bg;
    padding: 0.6em;
    border-radius: 0.7em;
}

#tray {
    padding: 0.6em;
}

#clock {
    color: @text;
    padding: 0.6em;
}

#custom-spotify {
    border-radius: 0.7em;
    color: @text;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: @bg;
}

#bluetooth {
    font-size: 1.07em;
}

#battery.discharging.warning {
    color: @warning;
}

#battery.discharging.critical {
    color: @urgent;
}