spawn-at-startup "wbg" "-s" "/home/stefur/wallpapers/mountains.jpg"
spawn-at-startup "wlsunset" "-l" "59.6" "-L" "18.1"
spawn-at-startup "magick" "/home/stefur/wallpapers/mountains.jpg" "-blur" "16x8" "/tmp/lock_img.jpg"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-sh-at-startup "rm -f $WOBSOCK && mkfifo $WOBSOCK && tail -f $WOBSOCK | wob"
spawn-sh-at-startup "swayidle timeout 300 \"lock.sh\" timeout 600 \"wlopm --off '*'\" resume \"wlopm --on '*'\" timeout 900 \"sudo zzz\""
//#spawn-at-startup "/usr/libexec/xdg-desktop-portal" "--replace"
spawn-at-startup "gpg-agent" "--daemon"
//var#spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
//#spawn-at-startup "dbus-update-activation-environment" "DISPLAY"
//#spawn-at-startup "xhost" "+local:"

// For xwayland-satellite
environment {
    DISPLAY ":0"
}

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 12
}

animations {
    slowdown 0.5
}

workspace "browser"
workspace "dev"
workspace "chat"
workspace "music"

window-rule {
    match app-id="^Firefox"
    open-maximized true
    open-on-workspace "browser"
}

window-rule {
    match app-id="^code"
    open-maximized true
    open-on-workspace "dev"
}

window-rule {
    match app-id="^signal"
    open-on-workspace "chat"
}

window-rule {
    match app-id="^discord"
    open-on-workspace "chat"
}

window-rule {
    match app-id="^Spotify"
    open-maximized true
    open-on-workspace "music"
}

window-rule {
    match title="^Open File$"
    match title="^Open Folder$"
    match title="^Save As$"
    match app-id="^newsboat$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^bluetoothctl$"
    match app-id="^iwctl$"
    open-floating true
}

input {
    keyboard {
        xkb {
            layout "se"
        }
        repeat-delay 300
        repeat-rate 50
        track-layout "global"
    }

    touchpad {
        tap
        natural-scroll
        disabled-on-external-mouse
    }

    disable-power-key-handling
    workspace-auto-back-and-forth

}

output "eDP-1" {
    mode "1920x1200"
    scale 1
    transform "normal"
    variable-refresh-rate
}

output "DP-1" {
    mode "3440x1440@120"
    scale 1
    transform "normal"
    variable-refresh-rate
}

layout {
    gaps 8
    center-focused-column "on-overflow"
    always-center-single-column

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        active-color "#536c52"
    }

    border {
        off
    }

    tab-indicator {
        width 8
        gap 8
        length total-proportion=1.0
        position "top"
        place-within-column
    }

    shadow {
        //on
        softness 30
        spread 1
        offset x=0 y=10
        color "#0007"
    }
}

prefer-no-csd
screenshot-path null

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

overview {
    workspace-shadow {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}

layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

binds {
    Mod+Return { spawn "foot"; }
    Mod+R { spawn "fuzzel.sh"; }
    Mod+L allow-inhibiting=false { spawn-sh "niri msg action power-off-monitors && lock.sh"; }

    Mod+W { spawn "nictl" "spawn-or-focus" "Firefox" "firefox"; }
    Mod+S { spawn "nictl" "spawn-or-focus" "Spotify" "spotify"; }
    Mod+D { spawn "nictl" "spawn-or-focus" "discord" "Discord"; }
    Mod+C { spawn "nictl" "spawn-or-focus" "signal" "signal-desktop"; }
    Mod+V { spawn "nictl" "spawn-or-focus" "code-oss" "code-oss"; }
    Mod+Tab { toggle-overview; }
    Mod+N { spawn-sh "foot --app-id=newsboat newsboat -C=~/.config/newsboat/config -u=~/sync/files/newsboat/urls -c=~/sync/files/newsboat/cache.db"; }
    Mod+Ctrl+Return { spawn "pcmanfm"; }
    Mod+M { spawn "mount.sh"; }
    Mod+P { spawn "pass.sh"; }
    Mod+O { spawn "otp.sh"; }
    Mod+E { spawn "emojis.sh"; }
    Mod+I { spawn "pkill" "-USR1" "wib"; }

    Mod+Shift+B { spawn "callbacks.sh" "battery"; }
    Mod+Shift+D { spawn "callbacks.sh" "date"; }
    Mod+Shift+W { spawn "callbacks.sh" "wifi"; }

    Mod+B { spawn "pkill" "-USR1" "waybar"; }

    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Mod+Q allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "(wpctl get-volume @DEFAULT_AUDIO_SINK@ | grep -q MUTED && echo 0 > $WOBSOCK) || (wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ --limit 1.0 && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK)"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "(wpctl get-volume @DEFAULT_AUDIO_SINK@ | grep -q MUTED && echo 0 > $WOBSOCK) || (wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK)"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && (wpctl get-volume @DEFAULT_AUDIO_SINK@ | grep -q MUTED && echo 0 > $WOBSOCK) || wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK"; }
    // Extra mute button in case of no mediakeys
    Mod+Shift+M allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && (wpctl get-volume @DEFAULT_AUDIO_SINK@ | grep -q MUTED && echo 0 > $WOBSOCK) || wpctl get-volume @DEFAULT_AUDIO_SINK@ | sed 's/[^0-9]//g' > $WOBSOCK"; }

    XF86MonBrightnessDown { spawn-sh "brightnessctl set 5%- | sed -En 's/.*\\(([0-9]+)%\\).*/\\1/p' > $WOBSOCK"; }
    XF86MonBrightnessUp { spawn-sh "brightnessctl set +5% | sed -En 's/.*\\(([0-9]+)%\\).*/\\1/p' > $WOBSOCK"; }
    Mod+Shift+C { close-window; }

    Mod+Left  { focus-column-left-or-last; }
    Mod+Down  { focus-window-down-or-top; }
    Mod+Up    { focus-window-up-or-bottom; }
    Mod+Right { focus-column-right-or-first; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+A { focus-column-first; }
    Mod+Z  { focus-column-last; }
    Mod+Ctrl+A { move-column-to-first; }
    Mod+Ctrl+Z  { move-column-to-last; }

    Mod+Comma     { focus-monitor-previous; }
    Mod+Period     { focus-monitor-next; }

    Mod+Shift+Comma  { move-window-to-monitor-previous; }
    Mod+Shift+Period  { move-window-to-monitor-next; }

    Mod+Ctrl+Comma  { move-workspace-to-monitor-previous; }
    Mod+Ctrl+Period  { move-workspace-to-monitor-next; }

    Mod+Shift+J         { move-workspace-down; }
    Mod+Shift+U         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { spawn "nictl" "cycle-workspace" "down" "--skip-next-empty"; }
    Mod+WheelScrollUp        cooldown-ms=150 { spawn "nictl" "cycle-workspace" "up" "--skip-next-empty"; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+Shift+1 { move-window-to-workspace 1 focus=false; }
    Mod+Shift+2 { move-window-to-workspace 2 focus=false; }
    Mod+Shift+3 { move-window-to-workspace 3 focus=false; }
    Mod+Shift+4 { move-window-to-workspace 4 focus=false; }
    Mod+Shift+5 { move-window-to-workspace 5 focus=false; }
    Mod+Shift+6 { move-window-to-workspace 6 focus=false; }

    Mod+Shift+Left  { consume-or-expel-window-left; }
    Mod+Shift+Right { consume-or-expel-window-right; }
    Mod+Shift+Up  { spawn "nictl" "cycle-workspace" "up" "--skip-next-empty"; }
    Mod+Shift+Down  { spawn "nictl" "cycle-workspace" "down" "--skip-next-empty"; }

    Mod+Space { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+X { center-column; }

    Mod+Shift+Space { expand-column-to-available-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    Mod+Shift+V { toggle-window-floating; }

    Mod+T { toggle-column-tabbed-display; }

    Print { screenshot; }
    Mod+Shift+P { screenshot; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+Q { quit; }
}
